@model IEnumerable<GoodToCode.Shared.Models.Slot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SlotKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SlotKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordStateKeyNavigation.RecordStateName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SlotId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SlotId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SlotId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
