@model IEnumerable<GoodToCode.Subjects.Models.EntityDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntityDetailKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityKeyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntityDetailKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailKeyNavigation.DetailData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityKeyNavigation.EntityKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EntityDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EntityDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EntityDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
