@model GoodToCode.Entities.Web.Models.EventLocation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EventLocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLocationKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventLocationKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventKeyNavigation.EventDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationKeyNavigation.LocationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationTypeKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationTypeKeyNavigation.LocationTypeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordStateKeyNavigation.RecordStateName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventLocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
