@model IEnumerable<GoodToCode.Subjects.Models.ResourceTimeRecurring>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResourceTimeRecurringKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeRecurringKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTypeKeyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceTimeRecurringKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordStateKeyNavigation.RecordStateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceKeyNavigation.ResourceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeRecurringKeyNavigation.TimeRecurringKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTypeKeyNavigation.TimeTypeDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResourceTimeRecurringId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResourceTimeRecurringId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResourceTimeRecurringId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
