@model GoodToCode.Subjects.Models.Location

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordStateKeyNavigation.RecordStateName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
