@model IEnumerable<GoodToCode.Shared.Models.Venture>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VentureKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentureGroupKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentureTypeKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentureDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentureSlogan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VentureKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VentureGroupKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VentureTypeKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VentureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VentureDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VentureSlogan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordStateKeyNavigation.RecordStateName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VentureId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VentureId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VentureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
