@model IEnumerable<GoodToCode.Shared.Models.TimeType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeTypeKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeBehavior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTypeKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeBehavior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimeTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
