@model GoodToCode.Subjects.Models.Slot

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Slot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordStateKeyNavigation.RecordStateName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SlotId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
