@model GoodToCode.Shared.Models.Setting

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Setting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettingKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettingKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettingTypeKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettingTypeKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettingValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettingValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SettingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
