@model GoodToCode.Shared.Models.Option

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Option</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionGroupKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionGroupKeyNavigation.OptionGroupCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
