@model IEnumerable<GoodToCode.Subjects.Models.VentureAppointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VentureAppointmentKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentureKeyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VentureAppointmentKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentKeyNavigation.AppointmentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordStateKeyNavigation.RecordStateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VentureKeyNavigation.VentureDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VentureAppointmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VentureAppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VentureAppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
