@model GoodToCode.Subjects.Models.TimeRange

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TimeRange</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeRangeKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeRangeKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TimeRangeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
