@model GoodToCode.Shared.Models.Venture

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Venture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentureKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentureKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentureGroupKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentureGroupKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentureTypeKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentureTypeKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentureDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentureDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentureSlogan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentureSlogan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordStateKeyNavigation.RecordStateName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VentureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
