@model IEnumerable<GoodToCode.Entities.Web.Models.EventType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventTypeKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventGroupKeyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventTypeKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventGroupKeyNavigation.EventGroupDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
