@model IEnumerable<GoodToCode.Shared.Models.EventResource>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventResourceKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceTypeKeyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventResourceKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventKeyNavigation.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordStateKeyNavigation.RecordStateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceKeyNavigation.ResourceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceTypeKeyNavigation.ResourceTypeDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventResourceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventResourceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventResourceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
