@model IEnumerable<GoodToCode.Entities.Web.Models.ItemGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemGroupKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemGroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemGroupDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemGroupKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemGroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemGroupDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemGroupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemGroupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemGroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
