@model IEnumerable<GoodToCode.Subjects.Models.ResourceType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResourceTypeKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourceTypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceTypeKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResourceTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResourceTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResourceTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
