@model GoodToCode.Shared.Models.Appointment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordStateKeyNavigation.RecordStateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotLocationKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotLocationKeyNavigation.SlotLocationKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlotResourceKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlotResourceKeyNavigation.SlotResourceKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeRangeKeyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeRangeKeyNavigation.TimeRangeKey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppointmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
