@model GoodToCode.Subjects.Models.OptionGroup

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OptionGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionGroupKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionGroupKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionGroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionGroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionGroupDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionGroupDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionGroupCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionGroupCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OptionGroupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
