@model GoodToCode.Entities.Web.Models.DetailType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DetailType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailTypeKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailTypeKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailTypeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailTypeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DetailTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
