@model IEnumerable<GoodToCode.Subjects.Models.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordStateKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotLocationKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotResourceKeyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeRangeKeyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordStateKeyNavigation.RecordStateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotLocationKeyNavigation.SlotLocationKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotResourceKeyNavigation.SlotResourceKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeRangeKeyNavigation.TimeRangeKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
